.elementor-13 .elementor-element.elementor-element-39c7b7e {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --background-transition: 0.3s;
}
.elementor-13 .elementor-element.elementor-element-d66ac30 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --gap: 0px 0px;
  --background-transition: 0.3s;
}
.elementor-13 .elementor-element.elementor-element-22c781e {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --background-transition: 0.3s;
}
.elementor-13 .elementor-element.elementor-element-2da4643 .elementor-button {
  font-family: "Poppins", Sans-serif;
  font-weight: 700;
  background-color: #080808;
  border-radius: 30px 30px 30px 30px;
}
.elementor-13
  .elementor-element.elementor-element-2da4643
  .elementor-button:hover,
.elementor-13
  .elementor-element.elementor-element-2da4643
  .elementor-button:focus {
  background-color: #0aa6c0;
}
.elementor-13 .elementor-element.elementor-element-2540d9a {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --background-transition: 0.3s;
}
.elementor-13 .elementor-element.elementor-element-9fccd01 .elementor-button {
  font-family: "Poppins", Sans-serif;
  font-weight: 700;
  background-color: #080808;
  border-radius: 30px 30px 30px 30px;
}
.elementor-13
  .elementor-element.elementor-element-9fccd01
  .elementor-button:hover,
.elementor-13
  .elementor-element.elementor-element-9fccd01
  .elementor-button:focus {
  background-color: #0aa6c0;
}
.elementor-13 .elementor-element.elementor-element-69384ed {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --background-transition: 0.3s;
}
.elementor-13 .elementor-element.elementor-element-825d565 .elementor-button {
  font-family: "Poppins", Sans-serif;
  font-weight: 700;
  background-color: #080808;
  border-radius: 30px 30px 30px 30px;
}
.elementor-13
  .elementor-element.elementor-element-825d565
  .elementor-button:hover,
.elementor-13
  .elementor-element.elementor-element-825d565
  .elementor-button:focus {
  background-color: #0aa6c0;
}
.elementor-13 .elementor-element.elementor-element-cba8081 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --background-transition: 0.3s;
}
.elementor-13 .elementor-element.elementor-element-7e89e48 .elementor-button {
  font-family: "Poppins", Sans-serif;
  font-weight: 700;
  background-color: #bd852d;
  border-radius: 30px 30px 30px 30px;
}
.elementor-13
  .elementor-element.elementor-element-7e89e48
  .elementor-button:hover,
.elementor-13
  .elementor-element.elementor-element-7e89e48
  .elementor-button:focus {
  background-color: #e3ca75;
}
.elementor-13 .elementor-element.elementor-element-45be958 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --background-transition: 0.3s;
}
.elementor-13 .elementor-element.elementor-element-00a8abb {
  --spacer-size: 456px;
}
.elementor-13 .elementor-element.elementor-element-fc4c7e3 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --background-transition: 0.3s;
}
.elementor-13 .elementor-element.elementor-element-387e8e8 {
  --spacer-size: 456px;
}
.elementor-13 .elementor-element.elementor-element-62f1d5b {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --background-transition: 0.3s;
}
.elementor-13 .elementor-element.elementor-element-b1fac08 {
  --display: flex;
  --min-height: 0px;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --background-transition: 0.3s;
  --overlay-opacity: 0.5;
  --border-radius: 250px 250px 250px 250px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  --margin-block-start: 0px;
  --margin-block-end: 0px;
  --margin-inline-start: 0px;
  --margin-inline-end: 0px;
  --padding-block-start: 30px;
  --padding-block-end: 30px;
  --padding-inline-start: 30px;
  --padding-inline-end: 30px;
}
.elementor-13 .elementor-element.elementor-element-b1fac08::before,
.elementor-13
  .elementor-element.elementor-element-b1fac08
  > .elementor-background-video-container::before,
.elementor-13
  .elementor-element.elementor-element-b1fac08
  > .e-con-inner
  > .elementor-background-video-container::before,
.elementor-13
  .elementor-element.elementor-element-b1fac08
  > .elementor-background-slideshow::before,
.elementor-13
  .elementor-element.elementor-element-b1fac08
  > .e-con-inner
  > .elementor-background-slideshow::before,
.elementor-13
  .elementor-element.elementor-element-b1fac08
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer::before {
  --background-overlay: "";
  background-color: transparent;
  background-image: linear-gradient(
    180deg,
    var(--e-global-color-primary) 0%,
    #ffffff 100%
  );
}
.elementor-13 .elementor-element.elementor-element-19ee372 {
  text-align: center;
  color: #000000;
  font-family: "Poppins", Sans-serif;
  font-size: 25px;
  font-weight: 600;
}
.elementor-13 .elementor-element.elementor-element-861e4e4 {
  --display: flex;
  --background-transition: 0.3s;
}
.elementor-13 .elementor-element.elementor-element-e0ef660 {
  text-align: center;
  color: #000000;
  font-family: "Poppins", Sans-serif;
  font-weight: 600;
}
.elementor-13
  .elementor-element.elementor-element-e0ef660
  > .elementor-widget-container {
  background-color: transparent;
  background-image: linear-gradient(180deg, #6ec1e49e 0%, #fff6f891 100%);
  border-radius: 20px 20px 20px 20px;
}
.elementor-13 .elementor-element.elementor-element-1ffd3b0 {
  --display: flex;
  --background-transition: 0.3s;
}
.elementor-13 .elementor-element.elementor-element-351f650 {
  --spacer-size: 50px;
}
.elementor-13 .elementor-element.elementor-element-ba30f04 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --background-transition: 0.3s;
  border-style: none;
  --border-style: none;
}
.elementor-13 .elementor-element.elementor-element-ba30f04,
.elementor-13 .elementor-element.elementor-element-ba30f04::before {
  --border-transition: 0.3s;
}
.elementor-13 .elementor-element.elementor-element-79fe346 .elementor-wrapper {
  --video-aspect-ratio: 1.77777;
  filter: brightness(100%) contrast(100%) saturate(106%) blur(0px)
    hue-rotate(0deg);
}
.elementor-13
  .elementor-element.elementor-element-79fe346
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border-style: solid;
  border-width: 20px 20px 20px 20px;
  border-color: #35d7fb;
  border-radius: 0px 0px 0px 0px;
  box-shadow: 23px 18px 17px -2px rgba(0, 0, 0, 0.5);
}
.elementor-13 .elementor-element.elementor-element-79fe346 {
  width: var(--container-widget-width, 73%);
  max-width: 73%;
  --container-widget-width: 73%;
  --container-widget-flex-grow: 0;
}
.elementor-13 .elementor-element.elementor-element-79fe346.elementor-element {
  --align-self: center;
}
.elementor-13 .elementor-element.elementor-element-35eb199 {
  --display: flex;
  --background-transition: 0.3s;
}
.elementor-13 .elementor-element.elementor-element-387488c {
  --spacer-size: 196px;
}
.elementor-13 .elementor-element.elementor-element-a46beaa {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --background-transition: 0.3s;
}
.elementor-13 .elementor-element.elementor-element-a5c9413 {
  --display: flex;
  --background-transition: 0.3s;
}
.elementor-13 .elementor-element.elementor-element-b0503c7 {
  --display: flex;
  --min-height: 0px;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --background-transition: 0.3s;
  --overlay-opacity: 0.5;
  --border-radius: 250px 250px 250px 250px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  --margin-block-start: 0px;
  --margin-block-end: 0px;
  --margin-inline-start: 0px;
  --margin-inline-end: 0px;
  --padding-block-start: 30px;
  --padding-block-end: 30px;
  --padding-inline-start: 30px;
  --padding-inline-end: 30px;
}
.elementor-13 .elementor-element.elementor-element-b0503c7::before,
.elementor-13
  .elementor-element.elementor-element-b0503c7
  > .elementor-background-video-container::before,
.elementor-13
  .elementor-element.elementor-element-b0503c7
  > .e-con-inner
  > .elementor-background-video-container::before,
.elementor-13
  .elementor-element.elementor-element-b0503c7
  > .elementor-background-slideshow::before,
.elementor-13
  .elementor-element.elementor-element-b0503c7
  > .e-con-inner
  > .elementor-background-slideshow::before,
.elementor-13
  .elementor-element.elementor-element-b0503c7
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer::before {
  --background-overlay: "";
  background-color: transparent;
  background-image: linear-gradient(
    180deg,
    var(--e-global-color-primary) 0%,
    #ffffff 100%
  );
}
.elementor-13 .elementor-element.elementor-element-2dea946 {
  text-align: center;
  color: #000000;
  font-family: "Poppins", Sans-serif;
  font-size: 18px;
  font-weight: 600;
}
.elementor-13 .elementor-element.elementor-element-8f8024e {
  --display: flex;
  --min-height: 0px;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --background-transition: 0.3s;
  --overlay-opacity: 0.5;
  --border-radius: 250px 250px 250px 250px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  --margin-block-start: 0px;
  --margin-block-end: 0px;
  --margin-inline-start: 0px;
  --margin-inline-end: 0px;
  --padding-block-start: 30px;
  --padding-block-end: 30px;
  --padding-inline-start: 30px;
  --padding-inline-end: 30px;
}
.elementor-13 .elementor-element.elementor-element-8f8024e::before,
.elementor-13
  .elementor-element.elementor-element-8f8024e
  > .elementor-background-video-container::before,
.elementor-13
  .elementor-element.elementor-element-8f8024e
  > .e-con-inner
  > .elementor-background-video-container::before,
.elementor-13
  .elementor-element.elementor-element-8f8024e
  > .elementor-background-slideshow::before,
.elementor-13
  .elementor-element.elementor-element-8f8024e
  > .e-con-inner
  > .elementor-background-slideshow::before,
.elementor-13
  .elementor-element.elementor-element-8f8024e
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer::before {
  --background-overlay: "";
  background-color: transparent;
  background-image: linear-gradient(
    180deg,
    var(--e-global-color-primary) 0%,
    #ffffff 100%
  );
}
.elementor-13 .elementor-element.elementor-element-ab3abea {
  text-align: center;
  color: #000000;
  font-family: "Poppins", Sans-serif;
  font-size: 18px;
  font-weight: 600;
}
.elementor-13 .elementor-element.elementor-element-32503d7 {
  --display: flex;
  --background-transition: 0.3s;
}
.elementor-13 .elementor-element.elementor-element-348d085 {
  --spacer-size: 196px;
}
.elementor-13 .elementor-element.elementor-element-50422ec {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --justify-content: center;
  --align-items: center;
  --gap: 0px 0px;
  --background-transition: 0.3s;
}
.elementor-13 .elementor-element.elementor-element-8d8fc4b {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --justify-content: center;
  --align-items: center;
  --gap: 0px 0px;
  --background-transition: 0.3s;
}
.elementor-13 .elementor-element.elementor-element-e819793 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --justify-content: center;
  --align-items: center;
  --gap: 0px 0px;
  --background-transition: 0.3s;
}
.elementor-13 .elementor-element.elementor-element-f1383c0 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --justify-content: center;
  --align-items: center;
  --gap: 0px 0px;
  --background-transition: 0.3s;
}
.elementor-13 .elementor-element.elementor-element-45063f3 {
  --display: flex;
  --background-transition: 0.3s;
}
.elementor-13 .elementor-element.elementor-element-75711e1 {
  --spacer-size: 196px;
}
.elementor-13 .elementor-element.elementor-element-0d45a89 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --gap: 0px 0px;
  --background-transition: 0.3s;
}
.elementor-13 .elementor-element.elementor-element-6ce9171 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --background-transition: 0.3s;
}
.elementor-13
  .elementor-element.elementor-element-85f01fc
  > .elementor-widget-container {
  padding: 80px 0px 0px 0px;
}
.elementor-13 .elementor-element.elementor-element-d89b006 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --background-transition: 0.3s;
}
.elementor-13 .elementor-element.elementor-element-90a8396 {
  --display: flex;
  --background-transition: 0.3s;
}
.elementor-13 .elementor-element.elementor-element-cdad393 {
  --spacer-size: 114px;
}
.elementor-13 .elementor-element.elementor-element-b0f6a72 {
  --display: flex;
  --background-transition: 0.3s;
}
.elementor-13 .elementor-element.elementor-element-7fa7a84 {
  --spacer-size: 114px;
}
.elementor-13 .elementor-element.elementor-element-c576ba1 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --gap: 0px 0px;
  --flex-wrap: wrap;
  --background-transition: 0.3s;
}
.elementor-13 .elementor-element.elementor-element-cf80e2a {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --background-transition: 0.3s;
}
.elementor-13 .elementor-element.elementor-element-8b92e30 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --background-transition: 0.3s;
}
.elementor-13 .elementor-element.elementor-element-ea08a15 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --background-transition: 0.3s;
}
.elementor-13 .elementor-element.elementor-element-07eb11d {
  width: var(--container-widget-width, 106.415%);
  max-width: 106.415%;
  --container-widget-width: 106.415%;
  --container-widget-flex-grow: 0;
}
.elementor-13 .elementor-element.elementor-element-07eb11d.elementor-element {
  --flex-grow: 0;
  --flex-shrink: 0;
}
.elementor-13 .elementor-element.elementor-element-b3229e5 {
  --display: flex;
  --background-transition: 0.3s;
}
.elementor-13 .elementor-element.elementor-element-7ae9d9d {
  --spacer-size: 114px;
}
.elementor-13 .elementor-element.elementor-element-9bf2c90 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --gap: 0px 0px;
  --background-transition: 0.3s;
}
.elementor-13 .elementor-element.elementor-element-369e824 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --background-transition: 0.3s;
}
.elementor-13 .elementor-element.elementor-element-80d0045 .elementor-button {
  font-family: "Poppins", Sans-serif;
  font-weight: 700;
  background-color: #080808;
  border-radius: 30px 30px 30px 30px;
}
.elementor-13
  .elementor-element.elementor-element-80d0045
  .elementor-button:hover,
.elementor-13
  .elementor-element.elementor-element-80d0045
  .elementor-button:focus {
  background-color: #0aa6c0;
}
.elementor-13 .elementor-element.elementor-element-e495dea {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --background-transition: 0.3s;
}
.elementor-13 .elementor-element.elementor-element-54e4706 .elementor-button {
  font-family: "Poppins", Sans-serif;
  font-weight: 700;
  background-color: #080808;
  border-radius: 30px 30px 30px 30px;
}
.elementor-13
  .elementor-element.elementor-element-54e4706
  .elementor-button:hover,
.elementor-13
  .elementor-element.elementor-element-54e4706
  .elementor-button:focus {
  background-color: #0aa6c0;
}
.elementor-13 .elementor-element.elementor-element-7ea5199 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --background-transition: 0.3s;
}
.elementor-13 .elementor-element.elementor-element-55bd58f .elementor-button {
  font-family: "Poppins", Sans-serif;
  font-weight: 700;
  background-color: #080808;
  border-radius: 30px 30px 30px 30px;
}
.elementor-13
  .elementor-element.elementor-element-55bd58f
  .elementor-button:hover,
.elementor-13
  .elementor-element.elementor-element-55bd58f
  .elementor-button:focus {
  background-color: #0aa6c0;
}
.elementor-13 .elementor-element.elementor-element-1fb78a6 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --background-transition: 0.3s;
}
.elementor-13 .elementor-element.elementor-element-f79b197 .elementor-button {
  font-family: "Poppins", Sans-serif;
  font-weight: 700;
  background-color: #bd852d;
  border-radius: 30px 30px 30px 30px;
}
.elementor-13
  .elementor-element.elementor-element-f79b197
  .elementor-button:hover,
.elementor-13
  .elementor-element.elementor-element-f79b197
  .elementor-button:focus {
  background-color: #e3ca75;
}
.elementor-13 .elementor-element.elementor-element-b90ef9f {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --background-transition: 0.3s;
}
.elementor-13 .elementor-element.elementor-element-fa9af34 {
  --display: flex;
  --background-transition: 0.3s;
}
.elementor-13 .elementor-element.elementor-element-c6caea1 {
  --display: flex;
  --background-transition: 0.3s;
}
.elementor-13 .elementor-element.elementor-element-f9d20a3 {
  --spacer-size: 196px;
}
:root {
  --page-title-display: none;
}
body.elementor-page-13:not(.elementor-motion-effects-element-type-background),
body.elementor-page-13
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("./images/back.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 1024px) {
  .elementor-13 .elementor-element.elementor-element-387e8e8 {
    --spacer-size: 41px;
  }
  .elementor-13 .elementor-element.elementor-element-b1fac08 {
    --border-radius: 50px 50px 50px 50px;
  }
  .elementor-13 .elementor-element.elementor-element-8f8024e {
    --border-radius: 100px 100px 100px 100px;
  }
  body.elementor-page-13:not(.elementor-motion-effects-element-type-background),
  body.elementor-page-13
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-image: url("./images/back.png");
  }
}
@media (max-width: 767px) {
  .elementor-13 .elementor-element.elementor-element-8f8024e {
    --border-radius: 40px 40px 40px 40px;
  }
}
@media (min-width: 768px) {
  .elementor-13 .elementor-element.elementor-element-d66ac30 {
    --content-width: 884px;
  }
  .elementor-13 .elementor-element.elementor-element-22c781e {
    --width: 25%;
  }
  .elementor-13 .elementor-element.elementor-element-2540d9a {
    --width: 25%;
  }
  .elementor-13 .elementor-element.elementor-element-69384ed {
    --width: 25%;
  }
  .elementor-13 .elementor-element.elementor-element-cba8081 {
    --width: 25%;
  }
  .elementor-13 .elementor-element.elementor-element-b1fac08 {
    --content-width: 858px;
  }
  .elementor-13 .elementor-element.elementor-element-b0503c7 {
    --content-width: 1114px;
  }
  .elementor-13 .elementor-element.elementor-element-8f8024e {
    --content-width: 1114px;
  }
  .elementor-13 .elementor-element.elementor-element-6ce9171 {
    --width: 50%;
  }
  .elementor-13 .elementor-element.elementor-element-d89b006 {
    --width: 50%;
  }
  .elementor-13 .elementor-element.elementor-element-cf80e2a {
    --width: 33.3333%;
  }
  .elementor-13 .elementor-element.elementor-element-8b92e30 {
    --width: 33.3333%;
  }
  .elementor-13 .elementor-element.elementor-element-ea08a15 {
    --width: 33.3333%;
  }
  .elementor-13 .elementor-element.elementor-element-9bf2c90 {
    --content-width: 884px;
  }
  .elementor-13 .elementor-element.elementor-element-369e824 {
    --width: 25%;
  }
  .elementor-13 .elementor-element.elementor-element-e495dea {
    --width: 25%;
  }
  .elementor-13 .elementor-element.elementor-element-7ea5199 {
    --width: 25%;
  }
  .elementor-13 .elementor-element.elementor-element-1fb78a6 {
    --width: 25%;
  }
}
@media (min-width: 1025px) {
  body.elementor-page-13:not(.elementor-motion-effects-element-type-background),
  body.elementor-page-13
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-attachment: fixed;
  }
}
